@import url("../css/fonts.css");
@import url("../css/reset.css");
@import url("../css/header.css");
#wrap {
  width: 100%;
}
#wrap #header {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 0 35px;
  background: rgb(35, 35, 35);
}
#wrap #header.on {
  background: rgba(35, 35, 35, 0);
}
#wrap #header .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
#wrap #header .container .left {
  width: 111px;
  height: 100%;
}
#wrap #header .container .left h1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
#wrap #header .container .left h1 a {
  width: 100%;
  display: block;
}
#wrap #header .container .left h1 a img {
  width: 111px;
  height: 36px;
}
#wrap #header .container .center {
  width: 1200px;
  height: 100%;
  padding: 0 15px;
}
#wrap #header .container .center #nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
#wrap #header .container .center #nav > ul {
  width: auto;
  display: flex;
  height: 100%;
}
#wrap #header .container .center #nav > ul > li {
  margin: 0 22px;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}
#wrap #header .container .center #nav > ul > li a {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s;
}
#wrap #header .container .center #nav > ul > li a:hover {
  color: rgba(255, 255, 255, 0.7);
}
#wrap #header .container .center #nav > ul > li .sub {
  position: absolute;
  left: 50%;
  margin-left: -450.826px;
  top: 80px;
  width: 901.652px;
  background: #fff;
  border-radius: 5px;
}
#wrap #header .container .center #nav > ul > li .sub .container {
  padding: 50px 65px;
  width: 100%;
}
#wrap #header .container .center #nav > ul > li .sub .container > ul {
  width: 100%;
  display: flex;
}
#wrap #header .container .center #nav > ul > li .sub .container > ul > li {
  width: 25%;
}
#wrap #header .container .center #nav > ul > li .sub .container > ul > li dl dt > a {
  display: block;
  line-height: 200%;
  font-size: 13px;
  font-weight: 500;
  color: #222;
}
#wrap #header .container .center #nav > ul > li .sub .container > ul > li dl dd > a {
  display: block;
  line-height: 200%;
  font-size: 13px;
  font-weight: 500;
  color: #828282;
}
#wrap #header .container .center #nav > ul > li .sub.sub1 {
  display: none;
}
#wrap #header .container .center #nav > ul > li .sub.sub2 {
  left: 0;
  width: 240px;
  margin: 0;
}
#wrap #header .container .center #nav > ul > li .sub.sub2 .container {
  padding: 25px 45px 25px 35px;
  width: 100%;
  position: relative;
}
#wrap #header .container .center #nav > ul > li .sub.sub2 .container > ul {
  width: 100%;
  display: block;
}
#wrap #header .container .center #nav > ul > li .sub.sub2 .container > ul > li {
  width: 100%;
  line-height: 250%;
}
#wrap #header .container .center #nav > ul > li .sub.sub2 .container > ul > li > a {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  color: #828282;
}
#wrap #header .container .center #nav > ul > li .sub.sub2 .container > ul > li > a i {
  font-size: 14px;
  color: #828282;
}
#wrap #header .container .center #nav > ul > li .sub.sub2 .container > ul > li .sub-sub {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  margin: 0 0 0 1px;
  width: 240px;
  background: #fff;
  border-radius: 5px;
}
#wrap #header .container .center #nav > ul > li .sub.sub2 .container > ul > li .sub-sub.sub2-2 {
  top: 41px;
}
#wrap #header .container .center #nav > ul > li .sub.sub2 .container > ul > li .sub-sub.sub2-3 {
  top: 82px;
}
#wrap #header .container .center #nav > ul > li .sub.sub2 .container > ul > li .sub-sub.sub2-4 {
  display: block;
  top: 123px;
}
#wrap #header .container .right {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#wrap #header .container .right a {
  margin: 0 0 0 22px;
  color: #fff;
}
#wrap #header .container .right a i {
  font-size: 15px;
}
#wrap #footer {
  width: 100%;
  position: relative;
  z-index: 1;
}
#wrap #main {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 2;
}
#wrap #main #section1 {
  width: 100%;
  height: 100%;
  background: url(../img/home-interior-design-slider-img01.jpg) no-repeat 50% 50%;
  background-size: cover;
}