#signUp{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 200px 0;
    position: relative;
    .title{
        position: relative;
        z-index: 1;
        text-align: center;
        h2{
            font-size: 36px;
            font-weight: 600;
            color: rgb(113, 174, 204);
        }
    }
    .content{
        width: 100%;
        height: auto;
        position: relative;
        z-index: 1;
        form{
            width: 100%;
            padding: 70px 0;
            ul{
                width: 100%;
                li{
                    width: 100%;
                    margin: 15px 0;
                    &:nth-child(4),
                    &:nth-child(5){
                        padding-right:140px;
                        position: relative;
                    }
                    div{
                        width: 100%;
                        input{
                            width: 100%;
                            height: 50px;
                            border: 1px solid #ccc;
                            background: #f6f6f6;
                            color: #333;
                            font-size: 15px;
                            outline: 0;
                            border-radius: 3px;
                            padding: 0 15px;
                            &::placeholder{
                                color: #bbb;
                                font-size: 15px;
                            }
                        }
                        button{
                            position: absolute;
                            top: 0;
                            right: 0;
                            border-radius: 3px;
                            width: 130px;
                            height: 50px;
                            border: 1px solid #ccc;
                            background: #f0f0f0;
                            color: #ccc;
                            cursor: pointer;
                            transition: all 0.3s;
                            &.on{
                                border-color: rgb(39, 13, 73);
                                color: rgb(39, 13, 73);
                            }
                            &:hover{
                                background-color: #f9f9f9;
                            }
                        }
                        span{
                            position: absolute;
                            z-index: 2;
                            top: 0;
                            right: 160px;
                            font-size: 14px;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            letter-spacing: 1.5px;
                            color: #c00;
                        }
                    }
                }
            }
        }
    }

}