#wrap{
    width: 100%;
    #sub1{
        width: 100%;
        #section1{
            width: 100%;
            padding: 0 0 70px 0;
            .container{
                width: 100%;
                max-width: 1050px;
                margin: 0 auto;
                .gap{
                    width: 100%;
                    .content{
                        width: 100%;
                        a{
                            display: block;
                            width: 100%;
                            img{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        #section2{
            width: 100%;
            .container{
                width: 100%;
                max-width: 1050px;
                margin: 0 auto;
                .gap{
                    width: 100%;
                    .title{
                        width: 100%;
                        padding: 0 0 60px 0;
                        text-align: center;
                        h2{
                            font-size: 28px;
                            color: #333;    
                            font-weight: 600;                     
                        }
                    }
                    .content{
                        width: 100%;
                        display: flex;
                        .left{
                            width: 262.5px;
                            .left-title{
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                                strong{}
                                span{
                                    img{}
                                    em{}
                                }
                            }
                            .left-content{
                                div{
                                    a{}
                                    .sub{
                                        ul{
                                            li{
                                                label{
                                                    input{}
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .right{
                            width: 262.5px*3;
                            .right-title{
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                                strong{}
                                span{
                                    a{}
                                    i{}
                                }
                            }
                            .right-content{
                                width: 100%;
                                >ul{
                                    width: 100%;
                                    display: flex;
                                    justify-content: space-between;
                                    flex-flow: row wrap;
                                    >li{
                                        width: 250px;
                                        padding: 0 0 90px 0;
                                        >a{
                                            .img-box{
                                                >img{
                                                    width: 100%;
                                                }
                                                span{
                                                    img{}
                                                }
                                            }
                                            .tit-box{
                                                ul{
                                                    li{
                                                        strong{}
                                                        em{}
                                                        span{}
                                                        s{}
                                                        
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}