@import url("../css/fonts.css");
@import url("../css/reset.css");
@import url("../css/header.css");
#wrap {
  width: 100%;
}
#wrap #main {
  width: 100%;
}
#wrap #main section {
  width: 100%;
}
#wrap #main section#section1 {
  height: 615px;
  z-index: 1;
  position: relative;
  background: url(../img/2023_summer1_promotion_bg_1_230426.jpg) no-repeat 50% 50%;
  background-size: cover;
}
#wrap #main section#section1 .top-logo {
  position: absolute;
  width: 360px;
  z-index: 3;
  top: 200px;
  left: 250px;
}
#wrap #main section#section1 .drink1 {
  width: 450px;
  position: absolute;
  z-index: 3;
  top: 200px;
  left: 630px;
}
#wrap #main section#section1 .drink2 {
  width: 450px;
  position: absolute;
  z-index: 3;
  top: 200px;
  left: 1070px;
}
#wrap #main section#section1 .drink3 {
  position: absolute;
  width: 350px;
  z-index: 2;
  top: 70px;
  left: 1200px;
}
#wrap #main section#section1 .drink4 {
  width: 333px;
  position: absolute;
  z-index: 2;
  top: 80px;
  left: 750px;
}