#wrap{
    width: 100%;
    .intro{
        width: 100%;
        #section1{
            width: 100%;
            .container{
                width: 100%;
                .gap{
                    width: 100%;
                    .content{
                        width: 100%;
                        .slide-container{
                            width: 100%;
                            .slide-view{
                                width: 100%;
                                overflow: hidden;
                                .slide-wrap{
                                    width: 100%*25;
                                    display: flex;
                                    margin: 0 0 0 -100%;
                                    position: relative;
                                    .slide{
                                        width: 100%;
                                        a{
                                            width: 100%;
                                            img{
                                                width: 100%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        #sectionTopBanner{
            width: 100%;
            padding: 80px 0 0 0;
            .container{
                width: 100%;
                max-width: 1050px;
                margin: 0 auto;
                .gap{
                    width: 100%;
                    .content{
                        width: 100%;
                        a{
                            width: 100%;
                            display: block;
                            img{
                             
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        #section2{
            width: 100%;
            padding: 80px 0;
            position: relative;
            z-index: 1;
            .container{
                width: 100%;
                max-width: 1068px;
                margin: 0 auto;
                
                .gap{
                    width: 100%;
                    .title{
                        width: 100%;
                        text-align: center;
                        padding: 0 0 30px 0;
                        h2{
                            font-size: 28px;
                            font-weight: 600;
                            color: #333;
                        }
                    }
                    .content{
                        width: 100%;
                        .slide-container{
                            width: 100%;
                          .slide-view{
                            width: 100%;
                            overflow: hidden;
                            .slide-wrap{
                                width: (25% * 4) * 9;
                                display: flex;
                               margin: 0 0 0 (-25%*8);
                                .slide{
                                    .col-gap{
                                        width: 100%;
                                        padding: 0 9px;
                                        a{
                                            display: block;
                                            width: 100%;
                                            .img-box{
                                                position: relative;
                                                >img{
                                                    width: 100%;
                                                    position: relative;
                                                    z-index: 1;
                                                }
                                                >span{
                                                    z-index: 2;
                                                    position: absolute;
                                                    right: 20px;
                                                    bottom: 20px;
                                                    img{
                                                        width: auto;
                                                    }
                                                }
                                            }
                                            .tex-box{
                                                width: 100%;
                                                ul{
                                                    padding: 10px 0 0 0;
                                                    li{
                                                        strong{}
                                                        em{}
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        }
                    }
                }
            }
            .left-arrow-btn{
                position: absolute;
                left: 50%;
                top: 50%;
                margin: -25px 0 0 -557px;
                z-index: 2;
                img{
                    width: auto;
                }
            }
            .right-arrow-btn{
                position: absolute;
                right: 50%;
                top: 50%;
                z-index: 2;
                margin: -25px -557px 0 0;
                transform: rotate(180deg);
                img{
                    width: auto;
                }
            }
        }
    }
}