@import url('./fonts.css');
@import url('./reset.css');
@import url('./skip.css');

// 중첩코딩
#wrap {
    width: 100%;
    height: 100%;
    #header{
        width: 100%;
        height: 86px;
        background: #93e4cf;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
    }
    #main{
        z-index: 2;
        position: relative;
        width: 100%;
        height: 100%;
        #section1{
            position: relative;
            width: 100%;
            height: 100%; //반드시 부모요소의 높이가 창높이로 잡혀있어야적용된다.//
            //height: 100vh;
            background: url(../img/wedding-img3.jpg) no-repeat 50% 50%;
            &::before {
                content: '';
                z-index: 1;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(37, 37, 37,0.4);
                //opacity: 0.4;
            }
        }
        #section2{
            width: 100%;
            //연산자 쓰고 띄어쓰기 필수
            height: 130px + 451.875px + 130px;
            padding: 130px 0;
            background: #fff;
        }
        #section3{
            width: 100%;
            height: 346px;
            background: url(../img/wedding-img7.jpg) no-repeat 50% 50% fixed;
            background-size: 100% auto;

        }
        #section4{
            width: 100%;
            height: 130px + 441.219px +130px;
            background: #fff;
            padding: 130px 0;
            border-bottom: 1px solid #ddd;
        }
        #section5{
            width: 100%;
            background: #fff;
            padding: 130px 0;
            .container {
                width: 1170px;
                margin: 0 auto;
                .gap{
                    width: 100%;
                    .title{
                        width: 100%;
                        padding: 0 0 80px 0;                       
                        text-align: center;
                        h2{
                            color: #e15276;
                        font-size: 24px;
                        }
                    }
                    .content{
                        width: 100%;
                        overflow: hidden;
                        .gallery-box{
                            width: 1170px + 11px;
                            margin: 0 0 0 -11px;
                            ul{
                                width: 100%;
                                &::after{
                                    content: '';
                                    display: block;
                                    clear: both;
                                }                               
                                li{
                                    float: left;
                                    width: 25%;
                                    .col-gap{
                                        width: auto; //margin 사용시 auto
                                        margin: 0 0 0 11px;
                                        a{
                                            display: block;
                                            width: 100%;
                                            figure{
                                                width: 100%;
                                                image{
                                                    width: 100%;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
       
        #section6{
            position: relative;
            width: 100%;
            height: 760px;
            background: url(../img/wedding-img16.jpg) no-repeat 50% 50%;
            background-size: cover;
            padding: 130px 0;
            &::before {
                content: '';
                z-index: 1;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(37, 37, 37,0.4);
             }
        }
        #section7{
            width: 100%;
            height: 130px + 339.375px +130px;
            background: #fff;
            padding: 130px 0;
        }
        #section8{
            width: 100%;
            height: 130px + 675.250px +130px;
            background: #f7f7f7;
            padding: 130px 0;

        }
        #section9{
            width: 100%;
            height: 130px + 614.594px +130px;
            background: #fff;
            padding: 130px 0;
        }
        #section10{
            width: 100%;
            height: 294.375px +130px +80px;
            background: #fff;
            padding: 130px 0 80px 0;
            border-top: 1px solid #ddd;
        }
        #section11{
            width: 100%;
            height: 420px;
            background: #fff;
            iframe {
                width: 100%;
                height: 100%;
                border: 0;
            }
        
        }
    }
    footer{
        z-index: 1;
        position: relative;
        width: 100%;
        height: 300px;
        background: #dcdcdc;
    }
}