@import url("./fonts.css");
@import url("./reset.css");
@import url("./skip.css");
#wrap {
  width: 100%;
  height: 100%;
}
#wrap #header {
  width: 100%;
  height: 86px;
  background: #93e4cf;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}
#wrap #header .container {
  width: 100%;
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
}
#wrap #header .container .gap {
  width: 100%;
  padding: 0 15px;
  height: 100%;
  display: flex;
}
#wrap #header .container .gap .left {
  width: 38%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#wrap #header .container .gap .left ul {
  display: flex;
  margin: 0 30px 0 0;
}
#wrap #header .container .gap .left ul li {
  margin: 0 0 0 30px;
}
#wrap #header .container .gap .left ul li a {
  color: #626262;
  font-size: 13px;
  font-weight: 600;
}
#wrap #header .container .gap .left ul li a:focus {
  color: #d32b55;
}
#wrap #header .container .gap .left ul li a:hover {
  color: #d32b55;
}
#wrap #header .container .gap .left ul li a.on {
  color: #d32b55;
}
#wrap #header .container .gap .center {
  width: 24%;
  height: 100%;
}
#wrap #header .container .gap .center a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: url(../img/logo-pink2.png) no-repeat 50% 50%;
  background-size: cover;
}
#wrap #header .container .gap .right {
  width: 38%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#wrap #header .container .gap .right ul {
  display: flex;
  margin: 0 0 0 30px;
}
#wrap #header .container .gap .right ul li {
  margin: 0 30px 0 0;
}
#wrap #header .container .gap .right ul li a {
  color: #626262;
  font-size: 13px;
  font-weight: 600;
}
#wrap #header .container .gap .right ul li a:focus {
  color: #d32b55;
}
#wrap #header .container .gap .right ul li a:hover {
  color: #d32b55;
}
#wrap #header .container .gap .right ul li a.on {
  color: #d32b55;
}
#wrap #main {
  z-index: 2;
  position: relative;
  width: 100%;
}
#wrap #main #section1 {
  width: 100%;
}
#wrap #main #section1 .container {
  width: 100%;
}
#wrap #main #section1 .container .slide-container {
  width: 100%;
}
#wrap #main #section1 .container .slide-container .slide-view {
  width: 100%;
  overflow: hidden;
}
#wrap #main #section1 .container .slide-container .slide-view .slide-wrap {
  width: 400%;
  display: flex;
  animation: slide 18s ease-in infinite;
}
#wrap #main #section1 .container .slide-container .slide-view .slide-wrap .slide {
  width: 100%;
  height: 100vh;
  background: url() no-repeat 50% 50%;
  background-size: cover;
}
#wrap #main #section1 .container .slide-container .slide-view .slide-wrap .slide.slide1 {
  background-image: url(../img/wedding-img1.jpg);
}
#wrap #main #section1 .container .slide-container .slide-view .slide-wrap .slide.slide2 {
  background-image: url(../img/wedding-img2.jpg);
}
#wrap #main #section1 .container .slide-container .slide-view .slide-wrap .slide.slide3 {
  background-image: url(../img/wedding-img3.jpg);
}
#wrap #main #section2 {
  width: 100%;
  padding: 130px 0;
  background: #fff;
}
#wrap #main #section2 .container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
}
#wrap #main #section2 .container .gap {
  width: 100%;
}
#wrap #main #section2 .container .gap .title {
  width: 100%;
  text-align: center;
  padding: 0 0 90px 0;
}
#wrap #main #section2 .container .gap .title h2 {
  display: inline-block;
  font-size: 24px;
  color: #e15276;
  position: relative;
  font-weight: 700;
}
#wrap #main #section2 .container .gap .title h2::before {
  content: "";
  position: absolute;
  left: -60px;
  top: 50%;
  margin: -0.5px 0 0 0;
  width: 40px;
  height: 1px;
  background: #93e4cf;
}
#wrap #main #section2 .container .gap .title h2::after {
  content: "";
  position: absolute;
  right: -60px;
  top: 50%;
  margin: -0.5px 0 0 0;
  width: 40px;
  height: 1px;
  background: #93e4cf;
}
#wrap #main #section2 .container .gap .content {
  width: 100%;
  display: flex;
}
#wrap #main #section2 .container .gap .content .left {
  width: 50%;
  height: 350px;
}
#wrap #main #section2 .container .gap .content .left .content-box {
  width: 100%;
}
#wrap #main #section2 .container .gap .content .left .content-box > ul {
  width: 100%;
  display: flex;
}
#wrap #main #section2 .container .gap .content .left .content-box > ul > li {
  width: 50%;
}
#wrap #main #section2 .container .gap .content .left .content-box > ul > li.left-image {
  width: 100%;
}
#wrap #main #section2 .container .gap .content .left .content-box > ul > li.left-image > .gap {
  padding: 0 15px;
}
#wrap #main #section2 .container .gap .content .left .content-box > ul > li.left-image > .gap .img-box {
  width: 100%;
}
#wrap #main #section2 .container .gap .content .left .content-box > ul > li.left-image > .gap .img-box figure {
  width: 100%;
}
#wrap #main #section2 .container .gap .content .left .content-box > ul > li.left-image > .gap .img-box figure img {
  width: 100%;
  outline: 4px solid rgba(255, 255, 255, 0.3);
  outline-offset: -15px;
}
#wrap #main #section2 .container .gap .content .left .content-box > ul > li.left-text {
  width: 100%;
}
#wrap #main #section2 .container .gap .content .left .content-box > ul > li.left-text .gap {
  padding: 0 15px;
}
#wrap #main #section2 .container .gap .content .left .content-box > ul > li.left-text .gap .text-box {
  width: 100%;
}
#wrap #main #section2 .container .gap .content .left .content-box > ul > li.left-text .gap .text-box ul {
  width: 100%;
}
#wrap #main #section2 .container .gap .content .left .content-box > ul > li.left-text .gap .text-box ul li {
  width: 80%;
  text-align: left;
}
#wrap #main #section2 .container .gap .content .left .content-box > ul > li.left-text .gap .text-box ul li h2 {
  padding: 0 0 10px 0;
}
#wrap #main #section2 .container .gap .content .left .content-box > ul > li.left-text .gap .text-box ul li h2 i {
  font-size: 40px;
  color: #85d4c0;
}
#wrap #main #section2 .container .gap .content .left .content-box > ul > li.left-text .gap .text-box ul li h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.3px;
  color: #85d4c0;
}
#wrap #main #section2 .container .gap .content .left .content-box > ul > li.left-text .gap .text-box ul li h4 {
  font-size: 13px;
  font-weight: 600;
  padding: 20px 0;
}
#wrap #main #section2 .container .gap .content .left .content-box > ul > li.left-text .gap .text-box ul li p {
  font-size: 13px;
  font-family: "Roboto";
  line-height: 170%;
  letter-spacing: 0;
}
#wrap #main #section2 .container .gap .content .left .icon-box {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 100%;
  display: flex;
  padding: 30px 0 0 0;
  text-align: center;
}
#wrap #main #section2 .container .gap .content .left .icon-box .left {
  width: 50%;
}
#wrap #main #section2 .container .gap .content .left .icon-box .left a {
  color: #333;
  margin: 0 10px;
}
#wrap #main #section2 .container .gap .content .left .icon-box .left a i {
  font-size: 14px;
}
#wrap #main #section2 .container .gap .content .left .icon-box .right {
  width: 50%;
}
#wrap #main #section2 .container .gap .content .right {
  width: 50%;
  height: 350px;
}
#wrap #main #section2 .container .gap .content .right .content-box {
  width: 100%;
}
#wrap #main #section2 .container .gap .content .right .content-box > ul {
  width: 100%;
  display: flex;
}
#wrap #main #section2 .container .gap .content .right .content-box > ul > li {
  width: 50%;
}
#wrap #main #section2 .container .gap .content .right .content-box > ul > li.left-image {
  width: 100%;
}
#wrap #main #section2 .container .gap .content .right .content-box > ul > li.left-image > .gap {
  padding: 0 15px;
}
#wrap #main #section2 .container .gap .content .right .content-box > ul > li.left-image > .gap .img-box {
  width: 100%;
}
#wrap #main #section2 .container .gap .content .right .content-box > ul > li.left-image > .gap .img-box figure {
  width: 100%;
}
#wrap #main #section2 .container .gap .content .right .content-box > ul > li.left-image > .gap .img-box figure img {
  width: 100%;
  outline: 4px solid rgba(255, 255, 255, 0.3);
  outline-offset: -15px;
}
#wrap #main #section2 .container .gap .content .right .content-box > ul > li.left-text {
  width: 100%;
}
#wrap #main #section2 .container .gap .content .right .content-box > ul > li.left-text .gap {
  padding: 0 15px;
}
#wrap #main #section2 .container .gap .content .right .content-box > ul > li.left-text .gap .text-box {
  width: 100%;
}
#wrap #main #section2 .container .gap .content .right .content-box > ul > li.left-text .gap .text-box ul {
  width: 100%;
}
#wrap #main #section2 .container .gap .content .right .content-box > ul > li.left-text .gap .text-box ul li {
  width: 80%;
  text-align: left;
}
#wrap #main #section2 .container .gap .content .right .content-box > ul > li.left-text .gap .text-box ul li h2 {
  padding: 0 0 10px 0;
}
#wrap #main #section2 .container .gap .content .right .content-box > ul > li.left-text .gap .text-box ul li h2 i {
  font-size: 40px;
  color: #85d4c0;
}
#wrap #main #section2 .container .gap .content .right .content-box > ul > li.left-text .gap .text-box ul li h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.3px;
  color: #85d4c0;
}
#wrap #main #section2 .container .gap .content .right .content-box > ul > li.left-text .gap .text-box ul li h4 {
  font-size: 13px;
  font-weight: 600;
  padding: 20px 0;
}
#wrap #main #section2 .container .gap .content .right .content-box > ul > li.left-text .gap .text-box ul li p {
  font-size: 13px;
  font-family: "Roboto";
  line-height: 170%;
  letter-spacing: 0;
}
#wrap #main #section2 .container .gap .content .right .icon-box {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 100%;
  display: flex;
  padding: 30px 0 0 0;
  text-align: center;
}
#wrap #main #section2 .container .gap .content .right .icon-box .left {
  width: 50%;
}
#wrap #main #section2 .container .gap .content .right .icon-box .left a {
  color: #333;
  margin: 0 10px;
}
#wrap #main #section2 .container .gap .content .right .icon-box .left a i {
  font-size: 14px;
}
#wrap #main #section2 .container .gap .content .right .icon-box .right {
  width: 50%;
}
#wrap #main #section3 {
  width: 100%;
  height: 346px;
  background: url(../img/wedding-img7.jpg) no-repeat 50% 50% fixed;
  background-size: 100% auto;
  position: relative;
}
#wrap #main #section3:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(37, 37, 37, 0.4);
}
#wrap #main #section3 .container {
  width: 100%;
  height: 100%;
}
#wrap #main #section3 .container .gap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}
#wrap #main #section3 .container .gap .title {
  width: 100%;
  height: 24px;
  text-align: center;
  position: relative;
  z-index: 2;
}
#wrap #main #section3 .container .gap .title h2 {
  font-size: 24px;
  font-weight: 600;
  color: #85d4c0;
}
#wrap #main #section4 {
  width: 100%;
  background: #fff;
  padding: 130px 0;
  border-bottom: 1px solid #ddd;
}
#wrap #main #section4 .container {
  width: 1170px;
  margin: 0 auto;
}
#wrap #main #section4 .container > .gap {
  width: 100%;
}
#wrap #main #section4 .container > .gap .title {
  width: 100%;
  text-align: center;
  padding: 0 0 90px 0;
}
#wrap #main #section4 .container > .gap .title h2 {
  display: inline-block;
  font-size: 24px;
  color: #e15276;
  position: relative;
  font-weight: 700;
}
#wrap #main #section4 .container > .gap .title h2::before {
  content: "";
  position: absolute;
  left: -60px;
  top: 50%;
  margin: -0.5px 0 0 0;
  width: 40px;
  height: 1px;
  background: #93e4cf;
}
#wrap #main #section4 .container > .gap .title h2::after {
  content: "";
  position: absolute;
  right: -60px;
  top: 50%;
  margin: -0.5px 0 0 0;
  width: 40px;
  height: 1px;
  background: #93e4cf;
}
#wrap #main #section4 .container > .gap .content {
  width: 100%;
}
#wrap #main #section4 .container > .gap .content ul {
  width: 100%;
  display: flex;
}
#wrap #main #section4 .container > .gap .content ul li {
  width: 33.33333%;
}
#wrap #main #section4 .container > .gap .content ul li .col-gap {
  width: 100%;
  padding: 0 15px;
  text-align: center;
}
#wrap #main #section4 .container > .gap .content ul li .col-gap .box {
  width: 100%;
  border: 5px solid #eee;
}
#wrap #main #section4 .container > .gap .content ul li .col-gap .box .box-gap {
  width: 100%;
  padding: 35px 60px;
}
#wrap #main #section4 .container > .gap .content ul li .col-gap .box .box-gap h2 {
  padding: 0 0 15px 0;
}
#wrap #main #section4 .container > .gap .content ul li .col-gap .box .box-gap h2 i {
  font-size: 60px;
  color: #85d4c0;
}
#wrap #main #section4 .container > .gap .content ul li .col-gap .box .box-gap h3 {
  font-size: 15px;
  font-weight: 600;
}
#wrap #main #section4 .container > .gap .content ul li .col-gap .box .box-gap hr {
  border: 0;
  background: #ccc;
  width: 100%;
  height: 1px;
  margin: 25px 0;
}
#wrap #main #section4 .container > .gap .content ul li .col-gap .box .box-gap p {
  color: #929292;
  font-size: 13px;
  padding: 0 0 10px 0;
}
#wrap #main #section4 .container > .gap .content ul li .col-gap .box .box-gap h4 {
  color: #929292;
  font-size: 13px;
}
#wrap #main #section5 {
  width: 100%;
  padding: 130px 0;
  background: #fff;
}
#wrap #main #section5 .container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
#wrap #main #section5 .container .gap {
  width: 100%;
}
#wrap #main #section5 .container .gap .title {
  width: 100%;
  text-align: center;
  padding: 0 0 90px 0;
}
#wrap #main #section5 .container .gap .title h2 {
  display: inline-block;
  font-size: 24px;
  color: #e15276;
  position: relative;
  font-weight: 700;
}
#wrap #main #section5 .container .gap .title h2::before {
  content: "";
  position: absolute;
  left: -60px;
  top: 50%;
  margin: -0.5px 0 0 0;
  width: 40px;
  height: 1px;
  background: #93e4cf;
}
#wrap #main #section5 .container .gap .title h2::after {
  content: "";
  position: absolute;
  right: -60px;
  top: 50%;
  margin: -0.5px 0 0 0;
  width: 40px;
  height: 1px;
  background: #93e4cf;
}
#wrap #main #section5 .container .gap .content {
  width: 100%;
  overflow: hidden;
}
#wrap #main #section5 .container .gap .content .gallery-box {
  width: 1181px;
  margin: 0 0 0 -11px;
}
#wrap #main #section5 .container .gap .content .gallery-box ul {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
#wrap #main #section5 .container .gap .content .gallery-box ul li {
  width: 25%;
}
#wrap #main #section5 .container .gap .content .gallery-box ul li .col-gap {
  width: auto;
  margin: 0 0 11px 11px;
  overflow: hidden;
}
#wrap #main #section5 .container .gap .content .gallery-box ul li .col-gap a {
  display: block;
  width: 100%;
}
#wrap #main #section5 .container .gap .content .gallery-box ul li .col-gap a figure {
  width: 100%;
}
#wrap #main #section5 .container .gap .content .gallery-box ul li .col-gap a figure img {
  width: 100%;
  transition: all 0.4s;
}
#wrap #main #section5 .container .gap .content .gallery-box ul li .col-gap a figure img:hover {
  transform: scale(1.1);
  opacity: 0.2;
  cursor: url(../img/icon-zoom.png), auto;
}
#wrap #main #section6 {
  position: relative;
  width: 100%;
  height: 760px;
  background: url(../img/wedding-img16.jpg) no-repeat 50% 50% fixed;
  background-size: cover;
  padding: 130px 0;
}
#wrap #main #section6::before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(37, 37, 37, 0.4);
}
#wrap #main #section6 .container {
  z-index: 2;
  position: relative;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
#wrap #main #section6 .container .gap {
  width: 100%;
}
#wrap #main #section6 .container .gap .content {
  width: 100%;
}
#wrap #main #section6 .container .gap .content > ul {
  width: 100%;
  display: flex;
}
#wrap #main #section6 .container .gap .content > ul > li {
  width: 50%;
}
#wrap #main #section6 .container .gap .content > ul > li .col-gap {
  width: auto;
  margin: 0 15px;
}
#wrap #main #section6 .container .gap .content > ul > li .col-gap .content-box {
  width: 100%;
  height: 500px;
  outline: 5px solid rgba(255, 255, 255, 0.3);
  outline-offset: -15px;
}
#wrap #main #section6 .container .gap .content > ul > li .col-gap .content-box.left {
  background: url(../img/wedding-img17.jpg) no-repeat 50% 50%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap #main #section6 .container .gap .content > ul > li .col-gap .content-box.left h2 {
  width: 60%;
  font-size: 28px;
  color: #fff;
  line-height: 140%;
  text-align: center;
  font-weight: 600;
  font-family: "Montserrat";
  letter-spacing: 0.3px;
}
#wrap #main #section6 .container .gap .content > ul > li .col-gap .content-box.right {
  background: #93e4cf;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap #main #section6 .container .gap .content > ul > li .col-gap .content-box.right .content-wrap {
  width: 75%;
}
#wrap #main #section6 .container .gap .content > ul > li .col-gap .content-box.right .content-wrap .content-head {
  font-size: 24px;
  font-weight: 600;
  color: #626262;
  text-align: center;
  padding: 0 0 40px 0;
}
#wrap #main #section6 .container .gap .content > ul > li .col-gap .content-box.right .content-wrap #messageForm {
  padding: 40px 0 30px 0;
}
#wrap #main #section6 .container .gap .content > ul > li .col-gap .content-box.right .content-wrap #messageForm ul {
  width: 100%;
}
#wrap #main #section6 .container .gap .content > ul > li .col-gap .content-box.right .content-wrap #messageForm ul li {
  width: 100%;
  padding: 10px 0;
}
#wrap #main #section6 .container .gap .content > ul > li .col-gap .content-box.right .content-wrap #messageForm ul li:nth-child(3) {
  display: flex;
  justify-content: space-between;
}
#wrap #main #section6 .container .gap .content > ul > li .col-gap .content-box.right .content-wrap #messageForm ul li:last-child {
  text-align: center;
}
#wrap #main #section6 .container .gap .content > ul > li .col-gap .content-box.right .content-wrap #messageForm ul li input {
  width: 100%;
  height: 47px;
  background: #fff;
  border: 0;
  border-radius: 2px;
  padding: 0 15px;
}
#wrap #main #section6 .container .gap .content > ul > li .col-gap .content-box.right .content-wrap #messageForm ul li input::-moz-placeholder {
  color: #ccc;
}
#wrap #main #section6 .container .gap .content > ul > li .col-gap .content-box.right .content-wrap #messageForm ul li input::placeholder {
  color: #ccc;
}
#wrap #main #section6 .container .gap .content > ul > li .col-gap .content-box.right .content-wrap #messageForm ul li input:focus {
  outline: 0;
}
#wrap #main #section6 .container .gap .content > ul > li .col-gap .content-box.right .content-wrap #messageForm ul li div {
  width: 47%;
}
#wrap #main #section6 .container .gap .content > ul > li .col-gap .content-box.right .content-wrap #messageForm ul li div select {
  width: 100%;
  height: 47px;
  background: #fff url(../img/select-arrow.png) no-repeat 97% 50%;
  border: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 15px;
}
#wrap #main #section6 .container .gap .content > ul > li .col-gap .content-box.right .content-wrap #messageForm ul li div select:focus {
  outline: 0;
}
#wrap #main #section6 .container .gap .content > ul > li .col-gap .content-box.right .content-wrap #messageForm ul li button {
  padding: 0 15px;
  height: 50px;
  background: #000;
  color: #fff;
  border: 3px solid #000;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  font-family: "Montserrat";
  transition: all 0.3s;
}
#wrap #main #section6 .container .gap .content > ul > li .col-gap .content-box.right .content-wrap #messageForm ul li button:hover {
  background: #fff;
  color: #000;
  cursor: pointer;
}
#wrap #main #section6 .container .gap .content > ul > li .col-gap .content-box.right .content-wrap .content-foot {
  display: none;
  font-size: 13px;
  color: #626262;
  text-align: center;
  padding: 10px 15px;
  border: 2px solid #cc3;
}
#wrap #main #section6 .container .gap .content > ul > li .col-gap .content-box.right .content-wrap .content-foot.foot1.on {
  display: block;
}
#wrap #main #section6 .container .gap .content > ul > li .col-gap .content-box.right .content-wrap .content-foot.foot2.on {
  display: block;
}
#wrap #main #section7 {
  width: 100%;
  background: #fff;
  padding: 130px 0;
}
#wrap #main #section7 .container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
#wrap #main #section7 .container .gap {
  padding: 0 15px;
}
#wrap #main #section7 .container .gap .title {
  width: 100%;
  text-align: center;
}
#wrap #main #section7 .container .gap .title h2 {
  display: inline-block;
  font-size: 24px;
  color: #e15276;
  position: relative;
  font-weight: 700;
}
#wrap #main #section7 .container .gap .title h2::before {
  content: "";
  position: absolute;
  left: -60px;
  top: 50%;
  margin: -0.5px 0 0 0;
  width: 40px;
  height: 1px;
  background: #93e4cf;
}
#wrap #main #section7 .container .gap .title h2::after {
  content: "";
  position: absolute;
  right: -60px;
  top: 50%;
  margin: -0.5px 0 0 0;
  width: 40px;
  height: 1px;
  background: #93e4cf;
}
#wrap #main #section7 .container .gap .content {
  width: 100%;
}
#wrap #main #section7 .container .gap .content p {
  width: 456px;
  margin: 0 auto;
  line-height: 180%;
  font-size: 13px;
  color: #626262;
  text-align: center;
  font-family: "Roboto";
  padding: 80px 0;
}
#wrap #main #section7 .container .gap .content span {
  display: block;
  width: 100%;
  max-width: 945px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
#wrap #main #section7 .container .gap .content span a img {
  width: auto;
}
#wrap #main #section8 {
  width: 100%;
  background: #f7f7f7;
  padding: 130px 0;
}
#wrap #main #section8 .container {
  width: 100%;
}
#wrap #main #section8 .container .gap {
  width: 100%;
}
#wrap #main #section8 .container .gap .title {
  width: 100%;
  text-align: center;
  padding: 0 15px 90px 15px;
}
#wrap #main #section8 .container .gap .title h2 {
  display: inline-block;
  font-size: 24px;
  color: #e15276;
  position: relative;
  font-weight: 700;
}
#wrap #main #section8 .container .gap .title h2::before {
  content: "";
  position: absolute;
  left: -60px;
  top: 50%;
  margin: -0.5px 0 0 0;
  width: 40px;
  height: 1px;
  background: #93e4cf;
}
#wrap #main #section8 .container .gap .title h2::after {
  content: "";
  position: absolute;
  right: -60px;
  top: 50%;
  margin: -0.5px 0 0 0;
  width: 40px;
  height: 1px;
  background: #93e4cf;
}
#wrap #main #section8 .container .gap .content {
  width: 100%;
}
#wrap #main #section8 .container .gap .content .slide-container {
  width: 100%;
}
#wrap #main #section8 .container .gap .content .slide-container .slide-view {
  width: 100%;
  overflow: hidden;
}
#wrap #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap {
  width: 125%;
  display: flex;
  animation: slide-ani 4s ease both;
}
#wrap #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap .slide {
  width: 25%;
}
#wrap #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap .slide .col-gap {
  width: auto;
  margin: 0 15px;
}
#wrap #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap .slide .col-gap .top-box {
  width: 100%;
  position: relative;
  overflow: hidden;
}
#wrap #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap .slide .col-gap .top-box::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;
  cursor: pointer;
  transition: all 0.3s;
}
#wrap #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap .slide .col-gap .top-box img {
  width: 100%;
  position: relative;
  z-index: 1;
  transition: all 0.3s;
}
#wrap #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap .slide .col-gap .top-box span {
  position: absolute;
  z-index: 3;
  right: 0px;
  bottom: 0;
  padding: 12px 25px;
  background: #f7f7f7;
}
#wrap #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap .slide .col-gap .top-box span em {
  font-size: 13px;
  color: #626262;
  font-weight: 600;
  text-transform: uppercase;
}
#wrap #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap .slide .col-gap .bottom-box {
  width: 100%;
  padding: 25px;
  background: #f7f7f7;
  display: flex;
}
#wrap #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap .slide .col-gap .bottom-box h3 {
  font-size: 35px;
  font-weight: 700;
  color: #d32b55;
  margin: 0 25px 0 0;
}
#wrap #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap .slide .col-gap .bottom-box div h4 {
  font-size: 15px;
  font-weight: 700;
  color: #222;
  text-transform: uppercase;
}
#wrap #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap .slide .col-gap .bottom-box div p {
  font-size: 14px;
  font-weight: 400;
  color: #626262;
  line-height: 180%;
  font-family: "Roboto";
  padding: 10px 0 30px 0;
}
#wrap #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap .slide .col-gap .bottom-box div i {
  display: block;
  width: 30px;
  height: 4px;
  background: #93e4cf;
}
#wrap #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap .slide .col-gap:hover {
  cursor: url(../img/icon-move.png), auto;
}
#wrap #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap .slide .col-gap:hover .top-box::after {
  background: rgba(0, 0, 0, 0.3);
}
#wrap #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap .slide .col-gap:hover img {
  transform: scale(1.2);
}
@keyframes slide-ani {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-475.75px);
  }
}
#wrap #main #section9 {
  width: 100%;
  background: #fff;
  padding: 130px 0;
}
#wrap #main #section9 .container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
#wrap #main #section9 .container .gap {
  width: 100%;
}
#wrap #main #section9 .container .gap .title {
  width: 100%;
  text-align: center;
  padding: 0 15px 90px 15px;
}
#wrap #main #section9 .container .gap .title h2 {
  display: inline-block;
  font-size: 24px;
  color: #e15276;
  position: relative;
  font-weight: 700;
}
#wrap #main #section9 .container .gap .title h2::before {
  content: "";
  position: absolute;
  left: -60px;
  top: 50%;
  margin: -0.5px 0 0 0;
  width: 40px;
  height: 1px;
  background: #93e4cf;
}
#wrap #main #section9 .container .gap .title h2::after {
  content: "";
  position: absolute;
  right: -60px;
  top: 50%;
  margin: -0.5px 0 0 0;
  width: 40px;
  height: 1px;
  background: #93e4cf;
}
#wrap #main #section9 .container .gap .content {
  width: 100%;
}
#wrap #main #section9 .container .gap .content > ul {
  width: 100%;
  display: flex;
}
#wrap #main #section9 .container .gap .content > ul > li {
  width: 100%/3;
}
#wrap #main #section9 .container .gap .content > ul > li .col-gap {
  margin: 0 15px;
}
#wrap #main #section9 .container .gap .content > ul > li .col-gap .img-box a img {
  width: 100%;
  transition: all 0.2s;
}
#wrap #main #section9 .container .gap .content > ul > li .col-gap .img-box a img:hover {
  filter: grayscale(1);
}
#wrap #main #section9 .container .gap .content > ul > li .col-gap .txt-box {
  width: 100%;
  padding: 20px 0 0 0;
}
#wrap #main #section9 .container .gap .content > ul > li .col-gap .txt-box ul {
  width: 100%;
}
#wrap #main #section9 .container .gap .content > ul > li .col-gap .txt-box ul li {
  width: 100%;
}
#wrap #main #section9 .container .gap .content > ul > li .col-gap .txt-box ul li:first-child {
  display: inline-block;
  margin: 0 0 15px 0;
}
#wrap #main #section9 .container .gap .content > ul > li .col-gap .txt-box ul li:first-child a {
  font-size: 10px;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 3px 9px;
  transition: all 0.3s;
}
#wrap #main #section9 .container .gap .content > ul > li .col-gap .txt-box ul li:first-child a:hover {
  color: rgba(255, 255, 255, 0.7);
}
#wrap #main #section9 .container .gap .content > ul > li .col-gap .txt-box ul li h3 {
  font-size: 14px;
  font-weight: 600;
  color: #373737;
  line-height: 20px;
  cursor: pointer;
}
#wrap #main #section9 .container .gap .content > ul > li .col-gap .txt-box ul li p {
  font-size: 13px;
  color: #626262;
  font-family: "Roboto";
  line-height: 23px;
  padding: 15px 0 0 0;
}
#wrap #main #section9 .container .gap .content > ul > li .col-gap .txt-box ul li hr {
  border: 0;
  width: 100%;
  height: 1px;
  background: #ababab;
  margin: 28px 0;
}
#wrap #main #section9 .container .gap .content > ul > li .col-gap .txt-box ul li:last-child {
  font-size: 11px;
  font-weight: 500;
  color: #ababab;
}
#wrap #main #section9 .container .gap .content > ul > li .col-gap .txt-box ul li:last-child a {
  color: #ababab;
}
#wrap #main #section10 {
  width: 100%;
  background: #fff;
  padding: 130px 0 80px 0;
  border-top: 1px solid #ddd;
}
#wrap #main #section10 .container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
#wrap #main #section10 .container .gap {
  margin: 0 15px;
}
#wrap #main #section10 .container .gap .title {
  width: 100%;
  text-align: center;
  padding: 0 15px 90px 15px;
}
#wrap #main #section10 .container .gap .title h2 {
  display: inline-block;
  font-size: 24px;
  color: #e15276;
  position: relative;
  font-weight: 700;
}
#wrap #main #section10 .container .gap .title h2::before {
  content: "";
  position: absolute;
  left: -60px;
  top: 50%;
  margin: -0.5px 0 0 0;
  width: 40px;
  height: 1px;
  background: #93e4cf;
}
#wrap #main #section10 .container .gap .title h2::after {
  content: "";
  position: absolute;
  right: -60px;
  top: 50%;
  margin: -0.5px 0 0 0;
  width: 40px;
  height: 1px;
  background: #93e4cf;
}
#wrap #main #section10 .container .gap .content {
  width: 100%;
}
#wrap #main #section10 .container .gap .content p {
  width: 456px;
  margin: 0 auto;
  font-size: 13px;
  font-family: "Roboto";
  color: #626262;
  line-height: 23px;
  letter-spacing: 0.26px;
  text-align: center;
}
#wrap #main #section11 {
  width: 100%;
  height: 420px;
  background: #fff;
}
#wrap #main #section11 iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
#wrap footer {
  z-index: 1;
  position: relative;
  width: 100%;
  background: #fff;
}
#wrap footer .container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
#wrap footer .container .gap {
  margin: 0 15px;
}
#wrap footer .container .gap .content {
  width: 100%;
  text-align: center;
}
#wrap footer .container .gap .content .row1 {
  width: 100%;
  padding: 50px 0;
  border-bottom: 1px solid #ddd;
}
#wrap footer .container .gap .content .row1 > a {
  margin: 0 20px;
}
#wrap footer .container .gap .content .row1 > a i {
  font-size: 22px;
  color: #575757;
}
#wrap footer .container .gap .content .row2 {
  padding: 30px 0;
}
#wrap footer .container .gap .content .row2 p {
  font-size: 11px;
  font-weight: 500;
  color: #626262;
}
#wrap footer .container .gap .content .row2 p a {
  color: #626262;
}