@charset "utf-8";
@import url('./fonts.css');
@import url('./reset.css');
@import url('./skip.css');


/*헤더///////////////////////////////////////////////////////////*/
#wrap #header {
    width: 100%;height: 76px;border-bottom: 1px solid rgba(255,255,255,0.1);
    background: rgba(0,0,0, 0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

#wrap #header .container {
    width:100%;max-width: 1170px; 
    height: 100%;/*75px*/
    margin: 0 auto; /*박스 가운데 정렬(0 auto 0 auto) 오른쪽 정렬 시 0 0 0 auto 왼쪽 정렬시 0 auto 0 0*/
}
#wrap #header .container .gap {height:100%; padding: 0 15px;}
#wrap #header .container .content {
    width: 100%; 
    height: 100%;
    display: flex;  /*인라인*/
    justify-content: space-between; /*양쪽으로 배분*/
    align-items: center;
}

/*로고 왼쪽 시작//////////////////////////////////////////////////////*/
#wrap #header .container .gap .content .logo {width: 156px;}
#wrap #header .container .gap .content .logo h1 {width: 100%;}
#wrap #header .container .gap .content .logo h1 a {display: block; width: 100%;}
#wrap #header .container .gap .content .logo h1 a img {width: 100%;}

/*네비게이션 오른쪽 끝///////////////////////////////////////////////*/
#wrap #header .container .content .nav {}
#wrap #header .container .content .nav ul {display: flex;}
#wrap #header .container .content .nav ul li {
    margin: 0 0 0 40px;
}
#wrap #header .container .content .nav ul li a {
    color: rgba(255,255,255,1);
font-size: 12px;
font-weight: 600;}
#wrap #header .container .content .nav ul li a:hover{color: rgba(255, 255, 255, 0.5);} 


#wrap #main {width: 100%;position: relative;z-index: 2;}

/*섹션1234 공통 스타일*/
#wrap #main .sec1234 {
    position: relative;
    width: 100%; height:100vh ;/*창높이 반응형 단위 100vh 100vw*/
    background: url() no-repeat 50% 50% fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
#wrap #main .sec1234 h2 {/*font-size: 200px;*/
    font-size:10.50972vw;
    color: rgba(0,255,151,0.5);font-weight: 600;}

/*섹션 하단 장식 타이틀*/
#wrap #main .sec1234 .foot-box {
    position: absolute;
    /*bottom: 50px; y좌표*/
    bottom: 5.15995872vh;
    left: 0; /*x좌표*/
    width: 100%;
    text-align: center;
    /*display:flex; align-items:center; flex-flow:column nowrap; h6, i요소 한번에 가운데 정렬 */
}
#wrap #main .sec1234 .foot-box h6 {
    font-size: 13px; font-weight: 500; 
    color: rgb(255,255,255); padding: 0 0 15px 0;}

#wrap #main .sec1234 .foot-box i {
    display: inline-block; /*인라인은 너비를 가질 수 없으므로 인라인-블로으로 바꿔줌*/
    width:80px; height: 3px;
    background: rgba(0,239,255,0.5);
}


#wrap #main #section1 {background-image: url(../img/photography-img1.jpg);}
#wrap #main #section2 {background-image: url(../img/photography-img2.jpg);}
#wrap #main #section3 {background-image: url(../img/photography-img3.jpg);}
#wrap #main #section3 h2{color:rgba(0,239,255,0.5);}
#wrap #main #section4 {background-image: url(../img/photography-img4.jpg);}

#wrap #main #section5 {width: 100%; height:100vh;background-color: rgba(200,0,0,0.6);}
#wrap #main #section6 {width: 100%; height:100vh;background-color: rgba(0,200,0,0.6);}
#wrap #main #section7 {width: 100%; height:100vh;background-color: rgba(200,200,0,0.6);}
#wrap #main #section8 {width: 100%; height:100vh;background-color: rgba(200,0,200,0.6);}
#wrap #main #section9 {width: 100%; height:100vh;background-color: rgba(0,200,200,0.6);}


#wrap #main .sec-10-14{
    width: 100%; height: 246.391px;
    color: rgb(255,255,255);
    position: relative;
}


#wrap #main .sec-10-14 .bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%; height: 100%;
    background: url() no-repeat 50% 40%;
    background-size: cover;
    filter: brightness(50%) blur(0px) grayscale(0);
    transition: all 0.3s;
}

#wrap #main .sec-10-14:hover .bg {
    background-position: 50% 20%;
}

#wrap #main .sec-10-14 .bg-up {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background:rgba(70,70,70,0.4) ;
    transition: all 0.3s;
   
}

#wrap #main .sec-10-14:hover .bg-up {background:rgba(70,70,70,0) ;}


#wrap #main .sec-10-14 .container {
    position: relative;
    z-index: 3;
    width: 1170px;
    margin: 0 auto;
    display: block;
}
#wrap #main .sec-10-14 .container .gap {padding: 0 15px;}
#wrap #main .sec-10-14 .container .gap .content {
    display: flex;
    width: 100%;
    height: 246.391px;
    align-items: center;
}

/*좌측박스*/
#wrap #main .sec-10-14 .container .gap .content .left {width: 50%; display: flex;}
#wrap #main .sec-10-14 .container .gap .content .left h2 {font-size: 80px; color: rgb(133,238,165); margin: 0 50px 0 0;}
#wrap #main .sec-10-14 .container .gap .content .left div{
    display: flex;
    /*flex-flow: row nowrap 가로줄 줄 바꿈 없음-기본값*/
    /*정렬방식을 세로로 전환*/
    flex-flow: column nowrap; 
    justify-content: center; /*세로정렬이므로 justify-content사용 가로정렬 시 align-items 사용*/

}
#wrap #main .sec-10-14 .container .gap .content .left div h4{width:100%; font-size: 12px; font-weight: 600; padding: 0 0 5px 0;}
#wrap #main .sec-10-14 .container .gap .content .left div i{
    display: block;
    width: 132.281px;
    height: 2px;
    background: rgb(0,255,151);
    transition: all 0.3s;
}
#wrap #main .sec-10-14:hover .container .gap .content .left div i{
     width: 160px;
 }

/*우측박스*/
#wrap #main .sec-10-14 .container .gap .content .right {width: 50%;}
#wrap #main .sec-10-14 .container .gap .content .right p {font-size: 18px; font-weight: 600; line-height: 140%; cursor: pointer; color: rgb(255,255,255); transition: color 0.3s;}
#wrap #main .sec-10-14 .container .gap .content .right p:hover {color: rgba(255,255,255,0.6);}
#wrap #main .sec-10-14 .container .gap .content .right h5 {font-size: 12px; color: rgba(255,255,255,0.6);padding: 20px 0 0 0;}
#wrap #main .sec-10-14 .container .gap .content .right h5 span {cursor: pointer;}
 

#wrap #main #section10 .bg {background-image: url(../img/photography-img35.jpg);}/* 위 공통 설정에서 background-image만 바꿔야하므로 이미지 태그 사용*/
#wrap #main #section11 .bg {background-image: url(../img/photography-img36.jpg);}
#wrap #main #section12 .bg {background-image: url(../img/photography-img37.jpg);}
#wrap #main #section13 .bg {background-image: url(../img/photography-img38.jpg);}
#wrap #main #section14 .bg {background-image: url(../img/photography-img39.jpg);}


#wrap #main #section15 {width: 100%; height:100vh;background-color: rgba(134, 222, 238, 0.61);}





#wrap #footer {width:100%; height:400px;  position: relative;z-index: 1; background-color: rgba(0,0,0,0.6);}






