#wrap {
  width: 100%;
}
#wrap #footer {
  border-top: 1px solid #ccc;
  width: 100%;
  height: 300px;
  background-color: #f0f0f0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}