*{margin: 0;padding: 0;box-sizing: border-box;vertical-align: middle;}
#wrap{width: 100%;}
#wrap .top{width: 1400px; margin: 0 auto;text-align: end; padding: 120px 50px 10px 0;}
#wrap .top a{text-decoration: none; color: #aaa;transition: all 0.3s;}
#wrap .top a:hover{ color: #333;}
#wrap table{width: 1400px; margin: 0 auto; border-collapse: collapse;}
#wrap table caption{font-size: 32px; color:rgba(3, 199, 90); font-weight: 700; padding: 0 0 30px 0;}
#wrap table tr,th,td{border: 1px solid #333;}
#wrap table thead tr th{height: 50px; background: rgba(3, 199, 90,0.8);}
#wrap table tbody tr td{height: 40px; text-align: center;}