#header{
    width: 100%;
    padding: 20px;
    background: #f4f4f2;
    .container{
        width: 100%;       
        max-width: 1130px;
        margin: 0 auto;
        .gap{
            width: 100%;          
            padding: 0 30px;
            .logo{
                width: 100%;              
                display: flex;
                justify-content: start;
                align-items: center;
                img{
                    width: 75px;
                    height: 75px;
                }
            }
        }
    }
}