#main{
    width: 100%;
   #section1{
    width: 100%;
    padding: 100px 0;
    .container{
        width: 100%;
        max-width: 1130px;
        margin: 0 auto;
        .gap{
            width: 100%;
            padding: 0 15px;
            margin: 0 auto;
            .title{
                width: 100%;
                text-align: center;
                margin: 0 0 50px 0;
                h2{
                    font-size: 32px;
                    font-weight: 600;
                    color: #000;
                }
            }
            .content{
                table{
                    width: 100%;
                    border-collapse: collapse;
                    th{
                        padding: 17px 0;
                        text-align: center;
                        font-size: 14px;
                        font-weight: 700;
                        color: #000;
                        border-top: 1px solid #000;
                        border-bottom: 1px solid #000;
                    }
                    td{
                        padding: 17px 20px;
                        border-bottom: 1px solid #ddd;
                        text-align: center;
                        &:nth-child(2){
                            text-align: start;
                        }
                        a{
                            transition: all 0.3s;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
   }
}