#wrap {
  width: 100%;
}
#wrap #footer {
  border: 1px solid #ccc;
  width: 100%;
  height: 300px;
  background: #9b9898;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}