*{margin: 0;padding: 0;vertical-align: middle; box-sizing: border-box;}
html{width: 100%; height: 100%;}
body{font: normal 15px/1 "맑은고딕","arial"; color: #444; background: #fff;}
#wrap{width: 100%;}
#wrap table{width: 100%; max-width: 1000px; border-collapse: collapse; margin: 0 auto;}
#wrap table caption{padding: 20px 0 50px 0;font-size: 40px; font-weight: 600; color: #000;}
#wrap table th,td{ border-bottom: 1px solid #ddd;}
#wrap table th{height: 60px;background: #f0f0f0; font-size: 17px; font-weight: 600; color: #000;border-top: 1px solid #aaa;}
#wrap table th:nth-child(1){width: 100px;}
#wrap table th:nth-child(2){width: 600px;border-left: 2px solid #ddd;border-right: 2px solid #ddd;}
#wrap table th:nth-child(3){width: 200px;}
#wrap table td{height: 50px;color: #555;font-size: 15px;text-align: center;padding: 0 20px;}
#wrap table td:nth-child(2){text-align: left;}
#wrap .top{ width: 100%; max-width: 1000px; text-align: right;margin: 0 auto;padding: 50px 10px 20px 0;} 
#wrap .top a{color: rgba(51, 136, 170,0.7); font-size: 16px; font-weight: 600;text-decoration: none;transition: all 0.3s;} 
#wrap .top a:hover{color: rgba(51, 136, 170,1);}