#wrap {
  width: 100%;
}
#wrap #signup {
  width: 100%;
}
#wrap #signup .container {
  width: 100%;
  max-width: 1000px;
  margin: 100px auto;
}
#wrap #signup .container .title {
  width: 100%;
}
#wrap #signup .container .title h2 {
  width: 100%;
  text-align: center;
  font-size: 40px;
  color: #08c;
  font-weight: 600;
}
#wrap #signup .container .content {
  width: 100%;
}
#wrap #signup .container .content form {
  width: 100%;
}
#wrap #signup .container .content form ul {
  width: 100%;
  padding: 50px 100px;
  list-style: none;
}
#wrap #signup .container .content form ul li {
  width: 100%;
  padding: 5px;
}
#wrap #signup .container .content form ul li input {
  width: 100%;
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline-offset: -1px;
  outline: 1px solid transparent;
  background: #fff;
  padding: 0 15px;
  transition: all 0.3s;
  font-size: 16px;
  color: #444;
}
#wrap #signup .container .content form ul li input:focus {
  outline: 1px solid #777;
}
#wrap #signup .container .content form .submit-btn-box {
  width: 100%;
  display: flex;
  justify-content: center;
}
#wrap #signup .container .content form .submit-btn-box button {
  width: 200px;
  height: 60px;
  background: #08c;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
}