@media all and (max-width: 1181px) {
  #wrap #main #section5 .container .gap .content .gallery-box {
    width: 100vw;
    margin: 0;
    padding: 0 15px 0 0;
  }
  #wrap #main #section5 .container .gap .content .gallery-box ul li {
    width: 33.3333%;
  }
  #wrap #main #section5 .container .gap .content .gallery-box ul li .col-gap {
    margin: 0 0 15px 15px;
  }
}
@media all and (max-width: 1170px) {
  #wrap #main #section4 .container > .gap .content ul li .col-gap .box .box-gap {
    padding: 5.1282051vw;
  }
}
@media all and (max-width: 1112px) {
  #wrap #main #section2 .container .gap .content .left .content-box > ul > li.left-text .gap .text-box ul li {
    width: 100%;
  }
  #wrap #main #section2 .container .gap .content .right .content-box > ul > li.left-text .gap .text-box ul li {
    width: 100%;
  }
}
@media all and (max-width: 1058px) {
  #wrap #main #section2 .container .gap .content {
    flex-flow: row wrap;
    justify-content: center;
  }
  #wrap #main #section2 .container .gap .content .left {
    width: 70%;
    height: auto;
  }
  #wrap #main #section2 .container .gap .content .right {
    width: 70%;
    height: auto;
    margin: 50px 0 0 0;
  }
}
@media all and (max-width: 990px) {
  #wrap #header .container .gap {
    justify-content: center;
  }
  #wrap #header .container .gap .left {
    display: none;
  }
  #wrap #header .container .gap .center {
    width: 230px;
    height: 100%;
  }
  #wrap #header .container .gap .right {
    display: none;
  }
  #wrap #main #section4 .container > .gap .content ul li {
    width: 50%;
  }
}
@media all and (max-width: 968px) {
  #wrap #main #section4 .container > .gap .content ul {
    flex-flow: row wrap;
  }
  #wrap #main #section4 .container > .gap .content ul li .col-gap {
    padding: 15px;
  }
}
@media all and (max-width: 900px) {
  #wrap #main #section6 .container .gap .content > ul {
    flex-flow: row wrap;
  }
  #wrap #main #section6 .container .gap .content > ul > li {
    width: 100%;
  }
  #wrap #main #section6 .container .gap .content > ul > li .col-gap {
    margin: 15px;
  }
}
@media all and (max-width: 860px) {
  #wrap #main #section5 .container .gap .content .gallery-box ul li {
    width: 50%;
  }
}
@media all and (max-width: 760px) {
  #wrap #main #section2 .container .gap .content {
    flex-flow: row wrap;
    justify-content: center;
  }
  #wrap #main #section2 .container .gap .content .left {
    width: 100%;
    height: auto;
  }
  #wrap #main #section2 .container .gap .content .right {
    width: 100%;
    height: auto;
    margin: 50px 0 0 0;
  }
}
@media all and (max-width: 550px) {
  #wrap #main #section4 .container > .gap .content ul li {
    width: 100%;
  }
}
@media all and (max-width: 534px) {
  #wrap #main #section2 .container .gap .content .left .content-box > ul {
    flex-flow: row wrap;
    justify-content: center;
  }
  #wrap #main #section2 .container .gap .content .left .content-box > ul > li {
    width: 100%;
    padding: 50px 0;
  }
  #wrap #main #section2 .container .gap .content .right .content-box > ul {
    flex-flow: row wrap;
    justify-content: center;
  }
  #wrap #main #section2 .container .gap .content .right .content-box > ul > li {
    width: 100%;
    padding: 50px 0;
  }
}
@media all and (max-width: 500px) {
  #wrap #main #section1 .container .title div {
    transform: scale(0.8);
  }
  #wrap #main #section5 .container .gap .content .gallery-box ul li {
    width: 100%;
  }
}
@media all and (max-width: 400px) {
  #wrap #main #section2 .container .gap .content .left .content-box > ul > li {
    padding: 30px 0;
  }
  #wrap #main #section2 .container .gap .content .right .content-box > ul > li {
    padding: 30px 0;
  }
}