*{margin: 0;padding: 0;vertical-align: middle; box-sizing: border-box;}
html{width: 100%; height: 100%;}
body{font: normal 15px/1 "맑은고딕","arial"; color: #444; background: #fff;}
#wrap{width: 100%;}
#wrap form{padding: 50px 150px 100px 150px;width: 1000px;margin: 150px auto; background: #f0f0f0;}
#wrap form table{width: 100%; border-collapse: collapse;}
#wrap form table th,td{width: 100%;}
#wrap form table th{height: 180px; border-bottom: 1px solid #ccc;font-size: 50px; font-weight: 600; color: #000;}
#wrap form table td{height: 60px;}
#wrap form table td input{height: 100%;width: 100%; background: #fff; border: 0; padding: 0 15px; outline-offset: -1px; outline: 1px solid transparent; transition: all 0.3s;font-size: 17px;}
#wrap form table td input:focus{outline: 1px solid #777;}
#wrap form button{width: 100%;height: 60px; border: 0;cursor: pointer;color: #fff; font-size: 20px; font-weight: 600;background: #48a; margin: 50px 0 0 0;}