 * {margin:0; padding: 0; vertical-align:middle;box-sizing:border-box;}
 body {font:normal 14px/1 'Nanum Gothic', 'Noto Sans', 'Roboto' ;color:rgb(60, 60, 60);}  
 a {color:rgb(60, 60, 60); text-decoration:none;}
 a:visited {color:rgb(160,160,160);}
 a:hover {color:rgb(0,0,0); text-decoration: underline;}
 a:focus {color:rgb(60,60,60);}
 a:active {color:rgb(172, 227, 236);}


    