
// 화면너비가 1170px에 도달하면 글자크기를 반응형 단위로 변경 vw /vh

@media all and (max-width:1170px) {

    #wrap{
        #section1{
            .slide-container{
                .slide-view{
                    .slide-wrap{
                        .slide{
                                ul{
                                    li{
                                        h2{
                                            font-size: 80px;
                                        }
                                        hr{
                                        
                                            height: 6px;
                                            margin: 50px 0;
                                        }
                                        h4{
                                            font-size: 14px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

@media all and (max-width:800px) {

    #wrap{
        #section1{
            .slide-container{
                .slide-view{
                    .slide-wrap{
                        .slide{
                                ul{
                                    li{
                                        h2{
                                            font-size: 70px;
                                        }
                                        hr{
                                        
                                            height: 5px;
                                            margin: 40px 0;
                                        }
                                        h4{
                                            font-size: 13px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
}
@media all and (max-width:600px) {

    #wrap{
        #section1{
            .slide-container{
                .slide-view{
                    .slide-wrap{
                        .slide{
                                ul{
                                    li{
                                        h2{
                                            font-size: 60px;
                                        }
                                        hr{
                                        
                                            height: 4px;
                                            margin: 35px 0;
                                        }
                                        h4{
                                            font-size: 13px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
}
@media all and (max-width:500px) {

    #wrap{
        #section1{
            .slide-container{
                .slide-view{
                    .slide-wrap{
                        .slide{
                                ul{
                                    li{
                                        h2{
                                            font-size: 50px;
                                        }
                                        hr{
                                        
                                            height: 4px;
                                            margin: 35px 0;
                                        }
                                        h4{
                                            font-size: 13px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
}
@media all and (max-width:400px) {

    #wrap{
        #section1{
            .slide-container{
                .slide-view{
                    .slide-wrap{
                        .slide{
                            ul{
                                li{
                                    h2{
                                        font-size: 50px;
                                    }
                                    hr{
                                    
                                        height: 4px;
                                        margin: 35px 0;
                                    }
                                    h4{
                                        font-size: 13px;
                                    }
                                }
                            }
                            }
                        }
                    }
                }
            }
        }
}
@media all and (max-width:320px) {

    #wrap{
        #section1{
            .slide-container{
                .slide-view{
                    .slide-wrap{
                        .slide{
                            ul{
                                li{
                                    h2{
                                        font-size: 50px;
                                    }
                                    hr{
                                    
                                        height: 4px;
                                        margin: 35px 0;
                                    }
                                    h4{
                                        font-size: 13px;
                                    }
                                }
                            }
                            }
                        }
                    }
                }
            }
        }

}