@import url(.fonts.css);
@import url(./reset.css);
@import url(./skip.css);

#wrap{
    width: 100%;
    #section1{
        width: 100%;
        .slide-container{
            width: 100%;
            .slide-view{
                width: 100%;
                overflow: hidden;
                .slide-wrap{
                    width: 100% * 4;
                    display: flex;
                    animation: slide 12s ease-in-out infinite both ;
                    .slide{
                        width: 100%;
                        height: 100vh;
                        background: url() no-repeat 50% 50%;
                        background-size: cover;
                        display: flex;
                        align-items: center;
                        cursor: url(../img/icon-move.png), auto;
                        &.slide1{background-image: url(../img/slider-img1.jpg);}
                        &.slide2{background-image: url(../img/slider-img2.jpg);}
                        &.slide3{background-image: url(../img/slider-img3.jpg);}
                        ul{
                            width: 100%;
                            //화면 해상도 크기가 1170px
                            //1170px 이하이면 글자크기 라인크기 반응형으로 조절되게
                            max-width: 1170px;
                            padding: 0 15px;
                            margin: 0 auto;
                            user-select: none;
                            li{
                                width: 100%;
                                h2{
                                    font-size: 100px;
                                    font-weight: 700;
                                    color: #fff;
                                    text-transform: uppercase;
                                }
                                hr{
                                    width: 570px;                                 
                                    height: 8px;
                                    border: 0;
                                    background: #fdd947;
                                    margin: 80px 0;
                                }
                                h4{
                                    font-size: 15px;
                                    font-weight: 500;
                                    color: rgba(255,255,255,0.9);
                                    text-transform: uppercase;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @keyframes slide {
          0% {transform: translateX(-100vw * 0);}
          8% {transform: translateX(-100vw * 0);}
         17% {transform: translateX(-100vw * 0);}
         25% {transform: translateX(-100vw * 0);}
         33% {transform: translateX(-100vw * 1);}
         42% {transform: translateX(-100vw * 1);}
         50% {transform: translateX(-100vw * 1);}
         58% {transform: translateX(-100vw * 1);}
         67% {transform: translateX(-100vw * 2);}
         75% {transform: translateX(-100vw * 2);}
         83% {transform: translateX(-100vw * 2);}
         92% {transform: translateX(-100vw * 2);}
        100% {transform: translateX(-100vw * 3);}

        
    }
}