@import url("./fonts.css");
@import url("./reset.css");
@import url("./skip.css");
#wrap {
  width: 100%;
}
#wrap #msgForm {
  width: 100%;
  padding: 130px 0;
}
#wrap #msgForm .container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
#wrap #msgForm .container .gap {
  width: 100%;
}
#wrap #msgForm .container .gap .title {
  width: 100%;
  text-align: center;
}
#wrap #msgForm .container .gap .title h2 {
  font-size: 28px;
  color: #614c45;
  font-weight: 600;
}
#wrap #msgForm .container .gap .title span {
  width: 100%;
  display: block;
  padding: 10px 0 0 0;
}
#wrap #msgForm .container .gap .title span img {
  width: auto;
}
#wrap #msgForm .container .gap .content {
  width: 100%;
  display: flex;
  padding: 90px 0 0 0;
}
#wrap #msgForm .container .gap .content .left {
  width: 517.5px;
}
#wrap #msgForm .container .gap .content .left .col-gap {
  width: 100%;
  padding: 0 15px;
}
#wrap #msgForm .container .gap .content .left .col-gap ul {
  width: 100%;
}
#wrap #msgForm .container .gap .content .left .col-gap ul li {
  position: relative;
  width: 100%;
  display: flex;
  padding: 0 0 60px 90px;
}
#wrap #msgForm .container .gap .content .left .col-gap ul li i {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 40px;
  color: #c8a64b;
  margin: 0 45px 0 0;
}
#wrap #msgForm .container .gap .content .left .col-gap ul li div h3 {
  font-size: 15px;
  color: #000;
  font-weight: 700;
  letter-spacing: 0.26px;
}
#wrap #msgForm .container .gap .content .left .col-gap ul li div h4, #wrap #msgForm .container .gap .content .left .col-gap ul li div h5 {
  font-size: 14px;
  color: #626262;
  font-family: "Roboto";
  letter-spacing: 0.26px;
}
#wrap #msgForm .container .gap .content .left .col-gap ul li div h4 {
  padding: 8px 0;
}
#wrap #msgForm .container .gap .content .right {
  width: 652.5px;
}
#wrap #msgForm .container .gap .content .right .col-gap {
  width: 100%;
  padding: 0 15px;
}
#wrap #msgForm .container .gap .content .right .col-gap form ul li {
  width: 100%;
  padding: 0 0 20px 0;
}
#wrap #msgForm .container .gap .content .right .col-gap form ul li input {
  width: 100%;
  height: 47px;
  background: #fff;
  color: #626262;
  font-size: 14px;
  font-weight: 500;
  font-family: "Montserrat";
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 0 15px;
  outline: 2px solid transparent;
  outline-offset: -1px;
  transition: all 0.3s;
}
#wrap #msgForm .container .gap .content .right .col-gap form ul li input:focus {
  outline: 2px solid #999;
}
#wrap #msgForm .container .gap .content .right .col-gap form ul li select {
  width: 100%;
  height: 47px;
  background: #fff url(../img/select-arrow.png) no-repeat 96% 50%;
  color: #626262;
  font-size: 14px;
  font-weight: 500;
  font-family: "Montserrat";
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 0 15px;
  color: #626262;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
#wrap #msgForm .container .gap .content .right .col-gap form ul li select:focus {
  outline: 0;
}
#wrap #msgForm .container .gap .content .right .col-gap form ul li textarea {
  width: 100%;
  height: 93px;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  resize: none;
  padding: 15px;
  color: #626262;
  font-size: 14px;
  font-weight: 500;
  font-family: "Montserrat";
  outline: 2px solid transparent;
  outline-offset: -1px;
  transition: all 0.3s;
}
#wrap #msgForm .container .gap .content .right .col-gap form ul li textarea:focus {
  outline: 2px solid #999;
}
#wrap #msgForm .container .gap .content .right .col-gap form ul li button {
  height: 42.5px;
  padding: 12px 15px;
  background: #000;
  color: #fff;
  border: 2px solid #000;
  border-radius: 3px;
  transition: all 0.3s;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
#wrap #msgForm .container .gap .content .right .col-gap form ul li button:hover {
  background: #fff;
  color: #000;
}