 * {margin:0; padding: 0; vertical-align:middle;box-sizing:border-box;}
 html {scroll-behavior: smooth;}
 body {font:normal 14px/1 'Montserrat', 'Nanum Gothic', 'Noto Sans', 'Roboto' ;color:rgb(60, 60, 60);}  
 a {color:rgb(60, 60, 60); text-decoration:none;}
 ul{list-style: none;}
 h1,h2,h3,h4,h5,h6{font-weight: normal;}


    